@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alfa+Slab+One&display=swap');
.sectionofcreatemeet{

    background-image: url(../assets/CreateMeet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw; 
    height: 100vh; 
    overflow-x:hidden;
    position: fixed;
    z-index:-2;
}

.sectionmeet{
    display: flex;
    width:80%;
    height: 80%;
    margin: 2% auto;
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
}

.flexbox1{
    /* background-color: red; */
    width: 38%;
    height:100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid white;
    justify-content: space-around;
    align-items: center;


}
.flexbox1 h3{
    color:whitesmoke;
}
.im{
    width:60%;
    height: 48%;
}
.cbutton{
    font-family: Alegreya Sans;
    font-size: 1.6rem;
    font-weight: 600;
    border: 3px solid white;
    border-radius: 20px;
    color:whitesmoke;
    background: none;
    transition: 0.5s ;
    padding:10px 30px;
}

.cbutton:hover{
    color: black;
    background-color: whitesmoke;
}

